<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Controle de Tarefas</a>
			</div>
			
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/tarefas}">Tarefas</a></li>
				<li><a th:href="@{/categorias}">Categorias</a></li>
			</ul>
		</div>
	</nav>

</html>