<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<title>Controle de Tarefas</title>
			<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
			<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />	
			<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />	
		</head>
	<body>
		<header layout:include="Cabecalho"></header>
	
		<section layout:fragment="conteudo">
			<p>Conteúdo principal</p>
		</section>
	
		<script th:src="@{/js/jquery-2.1.4.min.js}"></script> 
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
		
		<section layout:fragment="scripts">
			<!-- INCLUSÃO DE SCRIPTS ESPECÍFICOS DA PÁGINA -->
		</section>	
	</body>
</html>